#note_view{
    width: 510px;
    height: 500px;
    margin:25px;
}

#view{
    margin-top:20px;
    padding:10px;
    border-top:solid 2px green;
}

#view_top{
    margin-bottom: 20px;
    padding:5px;
    border:solid 1px #ccc;
    background: #efefef;
}

#view_title{
    float: left;
    font-size:12px;
    border-right:solid 1px #ccc;
    width:60%;
    padding:5px;
}

#nickname{
    float: left;
    font-size:12px;
    border-right:solid 1px #ccc;
    width: auto;
    min-width: 100px;
    padding:5px;
    text-align: center;
}

#views{
    float: left;
    font-size:12px;
    border-right:solid 1px #ccc;
    width: auto;
    min-width: 100px;
    padding:5px;
    text-align: center;
}

#community_date{
    font-size:12px;
    width: auto;
    padding:5px;
    text-align: center;
}

#view_main{
    padding:5px;
    border-bottom:solid #ccc;
}

#images {
    width: 100%;
    height: auto;
    padding-top:10px;
    padding-bottom:10px;
}

#community_contents{
    padding-bottom:50px;
    min-height: 350px;
}

#view_bottom{
    float: right;
    padding:5px;
    width: 100px;
    height: 30px;
}

#view_bottom form{
    float: left;
}