#popup_body{
    width: 90%;
    height: 89%;
    padding-top:10px;
    padding-left: 10px;
}

#popup_bottom {
    width: 100%;
    height: 6%;
}

#popup_bottom .cookie_popup1 {
    float: left;
    margin-left: 5px;
    font-size:15px;
}

#popup_bottom .cookie_popup2 {
    float: right;
    margin-right: 5px;
}

#popup_bottom .cookie_popup2 input{
    font-size:20px;
}

#title {
    font-size:30px;
    margin-bottom:20px;
}