#list_search{
    margin-top:10px;
    margin-bottom:10px;
    padding:15px;
    width: 100%;
}

#list_search1 select{
	width:10%;
	height:21px;
	border:solid 1px #cccccc;
    float: left;
}

#list_search2 input{
	width:60%;
	height:18px;
	border:solid 1px #cccccc;
    float: left;
}

#list_search3 input{
	width:10%;
	height:21px;
	border:solid 1px #cccccc;
}

#item_list{
    padding:10px;
    width: 100%;
    min-height: 500px;
    height: 1300px;
}

#item_list .item{
    padding:10px;
    float: left;
    border:solid;
    cursor: pointer;
    width: 20%;
    height: 400px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.item_title {
    padding:5px;
    font-size: 15px;
    font-weight: 600;
    border-bottom:solid 1px;
    margin-bottom:5px;
    height: 20px;
}

.img1{
    width:100%;
    height: 200px;
}

.item_name{
    padding:5px;
    border-bottom:solid 1px #dddddd;
    font-size:20px;
    text-align: center;
}

#time{
    border-bottom:solid 1px #dddddd;
    height: 30px;
    padding:2px;
    padding-bottom:10px;
    margin-bottom:5px;
}

#time .item_time1{
    font-size:15px;
    float: left;
    margin-top:10px;
}

#time .item_time2{
    float: right;
}

#price{
    height: 25px;
    padding:2px;
    margin-bottom:5px;
}
.item_money1{
    float: left;
    font-size:15px;
}

.item_money2{
    color:red;
    font-size:15px;
    float: right;
}

.item .bidding_btn{
    display:block;
    background:rgb(187, 187, 187);
    font-size:20px;
    text-align:center;
    padding:5px;
}

#paging {
    text-align: center;
    margin-top: 30px;
}

#paging a{
    display: inline-block;
}

#paging a.first {
    padding:5px;
    border-right: 1px solid #ccc;
}

#paging a.prev {
    padding:5px;
    border-right: 1px solid #ccc;
}

#paging a.num {
    padding:5px;
    border-right: 1px solid #ccc;
}

#paging a.next{
    padding:5px;
    border-right: 1px solid #ccc;
}
#paging a.last {
    padding:5px;
}

#section{
    float: left;
    width: 70%;
    margin-top:20px;
    margin-left: 30px;
    margin-right: 5px;
    min-height: 800px;
}

#right{
    float: right;
    width: 10%;
    margin-left: 10px;
    margin:15px;
}

#cookie_goods {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border:solid 1px green;
    border-radius: 10px;
}
#cookie_goods_title {
    text-align: center;
    font-size:15px;
    padding:3px;
    border-bottom:solid 1px green;
}

#cookie_goods_body1{
    height: 83%;
    width: 100%;
    overflow: hidden;
}

#cookie_goods_button {
    height: 11%;
    width: 100%;
    border-top:solid 1px green;
}

#cookie_goods_down {
    float: left;
    text-align: center;
    width: 50%;
    border-right:solid 1px green;
    cursor: pointer;
    display: block;
    font-weight: 1000;
    color:green;
}

#cookie_goods_up {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: 1000;
    color:green;
    background:rgb(204, 255, 128);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#cookie_goods_body2 {
    width: 103%;
    height: 100%;
    margin:6px;
    float: center;
    cursor: pointer;
    display: block;
    overflow-y:scroll;
    overflow-x:hidden;
    margin-right:3px;
}

#cookie_goods_body2 img{
    width: 95%;
    height: 80px;
    border:solid 1px;
}

#cookie_text {
    width: 100%;
    height: 300px;
    border:solid 1px green;
    border-radius: 10px;
}

#cookie_text_title {
    text-align: center;
    font-size:15px;
    padding:3px;
    border-bottom:solid 1px green;
}

#cookie_text_body1{
    height: 85%;
    width: 100%;
    overflow: hidden;
}

#cookie_text_button {
    height: 11%;
    width: 100%;
    border-top:solid 1px green;
}

#cookie_text_down {
    float: left;
    text-align: center;
    width: 50%;
    border-right:solid 1px green;
    cursor: pointer;
    display: block;
    font-weight: 1000;
    color:green;
}

#cookie_text_up {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: 1000;
    color:green;
    background:rgb(204, 255, 128);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#cookie_text_body2 {
    padding:5px;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
}

.text_cookie2 {
    border-bottom:solid 1px;
    padding:2px;
}